.projectCard {
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 700px;
    padding: 30px;
    margin: 50px;
    overflow: hidden;
    border-radius: 15px;
    color: #333;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.3);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
    align-items: center;
}

.textWrap {
    columns: 6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 5;
    z-index: 1;
}

.imageContainer {
    columns: 6;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12em;
    margin-top: 25px;
    transition: all 1.3s ease-in-out;
}

.imageContainer img {
    height: 12em;
    margin-top: 15px;
    border-radius: 10px;
}

.closeModal {
    left: 0;
    width: 20px;
    height: 20px;
}

.closeModal:hover {
    filter: brightness(100);
}

.viewWork {
    font-style: italic;
    position: fixed;
    bottom: 15%;
    left: 68%;
    font-size: 16pt;
    background-color: rgba(224, 245, 255, 0.8);
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 5px;
}

.tech {
    position: absolute;
    top: 45%;
    font-size: 18pt;
    font-weight: bold;
    width: 80%;
    text-align: center;
    background-color: rgba(224, 245, 255, 0.8);
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    padding: 5px;
}

.modalTitle {
    text-decoration: underline;
}

.projectTitle {
    background-color: rgba(224, 245, 255, 0.8);
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 7px;
}

@media screen and (max-width: 800px) {
    .projectCard {
        width: 100%;
    }
    .tech {
        font-size: 14pt;
        top: 40%;
        width: 100%;
    }
    .viewWork {
        font-size: 14pt;
        left: 50%;
    }
    .column {
        margin-right: 25%;
    }
}