.projectCard {
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin: 50px;
    background-color: aqua;
    overflow: hidden;
    border-radius: 15px;
}

.textWrap {
    columns: 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5;
    z-index: 1;
}

.imageContainer {
    columns: 6;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12em;
    margin-top: 25px;
    transition: all 1.3s ease-in-out;
}

.imageContainer img {
    height: 12em;
    margin-top: 25px;
}

.closeModal {
    left: 0;
    width: 20px;
    height: 20px;
}

.closeModal:hover {
    filter: brightness(100);
}

.viewWork {
    font-style: italic;
}