/* About Me */
.about-me {
    padding: 20px;
    background-color: #e0f5ff;
    border-radius: 30px;
    margin: 20px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me h4 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    text-decoration: underline;
    letter-spacing: 2px;
}

.about-me .description {
    margin-top: 10px;
    line-height: 1.5;
    font-size: 16px;
    color: #333;
}

.about-me p {
    margin-bottom: 10px;
}

/* Tech/Skill Section */
.infoContainer {
    padding: 10px;
    background-color: #e0f5ff;
    border-radius: 30px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.3);
}

.tech-section h4 {
    font-size: 22px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: underline;
    letter-spacing: 2px;
}

.tech-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tech-section .description {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 10px;
    line-height: 1.5;
    color: #333;
}

.tech-section .description li {
    flex: 0 0 auto;
    font-size: 14px;
    margin-bottom: 5px;
    padding: 10px 15px;
    background-color: #708adc;
    border-radius: 15px;
    margin: 5px;
    font-weight: bold;
    color: white;
}

.skill-description {
    margin-top: 5px;
    line-height: 1.5;
    padding: 10px;
    max-width: 400px;
    text-align: center;
}

.profile-pic-cont {
    flex: 0 0 auto;
    margin-top: 20px;
}

.profile-pic-cont img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 30px;
}

/* Media queries */
@media (max-width: 800px) {
    .about-container {
        padding: 20px;
    }

    .aboutInfo {
        margin-top: 20px;
    }

    .about-me,
    .tech-section {
        padding: 20px;
    }

    .infoContainer {
        margin-bottom: 20px;
    }

    .profile-pic-cont img {
        width: 100%;
        max-width: 200px;
        height: auto;
        margin-top: 20px;
    }
}

@media (max-width: 500px) {
    .about-container {
        padding: 20px;
        width: 90%;
    }
    .about-me .description {
        font-size: 18pt;
    }
}