.contactInfo {
    background: #e0f5ff;
    color: #333;
    padding: 20px;
    width: 300px;
    margin: 20px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.3);
    border-top-right-radius: 60px;
    border-bottom-left-radius: 30px;
}

.contentTitle {
    color: #333;
    text-align: center;
    text-decoration: underline;
    letter-spacing: 2px;
    font-size: 16pt;
}

.personalContactInfo {
    margin-bottom: 15px;
}

.infoType {
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 5px;
}

a {
    color: #5a3faa;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #420457;
    cursor: alias;
}

.hr {
    border: none;
}

.contactSection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
    margin: 10px;
}

.contactForm {
    background: #e0f5ff;
    padding: 20px;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 30px;
    width: 550px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.3);
    margin: 10px;
}

.contentTitle {
    text-align: center;
    margin-bottom: 20px;
}

.formGroup {
    margin-bottom: 10px;
}

.formControl {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}

.formSubmit {
    text-align: center;
}

.btn {
    padding: 10px 20px;
    background-color: #5a3faa;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 12pt;
    margin-top: 0px;
    letter-spacing: 1px;
}

.btn:hover {
    background-color: #420457;
    cursor: alias;
}

.cv-section {
    background: #bfe7fa;
    padding: 15px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 10px;
}

@media (max-width: 800px) {
    .contactSection {
        display: grid;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 800px) {
    .contactInfo,
    .contactForm {
        width: 100%;
    }
}