.social-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links-list {
    list-style: none;
    display: flex;
    padding: 0;
}

.social-link {
    margin: 0 10px;
    text-decoration: none;
    color: #5a3faa;
    transition: color 0.3s ease-in-out;
}

/* .social-link:hover {
    color: #420457;
    cursor: pointer;
} */
