.nav {
    position: fixed;
    top: 0;
    text-align: right;
    right: 8%;
    z-index: 1000;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    background-color: #5a3faa;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 14pt;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 120px;
    font-weight: bold;
    letter-spacing: 3px;
}

.dropdown-toggle i {
    margin-left: 5px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 20px;
    background-color: #f1f1f1;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
    border-radius: 10px;
    text-align: center;
}

.dropdown-menu li {
    padding: 10px;
}

.dropdown-menu li a {
    color: #333;
    text-decoration: none;
}

.dropdown-menu li:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
